<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="/css/persona.css" rel="stylesheet" type="text/css" />
    <script src="https://login.persona.org/include.js"></script>
    <script src="/lib/jquery-2.0.0.js"></script>
  </head>
  <body>
    <title>Persona Login Test App</title>

    {% block nav %}
      <li>Home</li>
    {% endblock nav %}

    {% block content %}
    {% endblock content %}

  </body>
  <script src="/js/persona.js"></script>
</html>
